@import "../../_globalColor";

.meter {
  height: 20px;
  position: relative;
  background: $progressBarBackground;
  border-radius: 25px;
}
.meter > span {
  display: block;
  height: 100%;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: $progressBarSpanBG;
  position: relative;
  overflow: hidden;
}
.skill {
  line-height: 3.5vw;
}
.skill-bars {
  font-size: 28px;
  width: 40%;
}

/* --- THIS IS THE 50/50 LAYOUT CODE --- */
.skills-container {
  display: flex;
  width: 90%;
  padding: 20px 10px;
  margin: 0px auto;
  margin-top: 2rem;
  align-items: center; /* Vertically centers the two columns */
}
.skills-container > * {
  flex: 1; /* This makes each side take up 50% */
  margin-bottom: 30px;
}
.skills-image > img {
  margin-left: 80px;
  max-width: 90%;
  height: auto;
}

/* This media query correctly changes line-height */
@media (max-width: 1456px) {
  .skills-bar {
    line-height: 4rem;
  }
}

/* This stacks the layout on small mobile screens */
@media (max-width: 768px) {
  .skills-container {
    flex-direction: column;
  }
  .skills-bar {
    line-height: 3rem;
    margin: 20px;
    width: 100%;
  }
  .skills-image {
    display: none;
    order: 2;
  }
}