@import "../../_globalColor";

.progress-main {
  display: grid;
  grid-template-columns: 2fr 1.4fr;
  gap: 3rem;
  width: 90%;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 40px;
  align-items: center;
}

.progress-heading {
  font-size: 56px;
  font-weight: 400;
  margin-bottom: 40px;
  text-align: left;
}

.progress-item {
  margin-bottom: 35px;
}

.progress-title {
  font-size: 18px;
  margin-bottom: 8px;
}

.progress-bar {
  width: 100%;
  height: 12px;
  background: #dcdcdc;
  border-radius: 10px;
}

.progress-fill {
  height: 100%;
  background: #9575f0;
  border-radius: 10px;
}

.progress-right {
  width: 100%;
  display: flex;
  justify-content: center;
}

.progress-img {
  width: 100%;
  max-width: 480px;
}

/* Responsive */
@media (max-width: 1000px) {
  .progress-main {
    grid-template-columns: 1fr;
    text-align: left;
  }

  .progress-right {
    justify-content: flex-start;
  }
}
